@inject ICategoryManager CategoryManager
<div class="card-body">
<h3>Lägg till kategorier</h3>

<EditForm Model=Category OnValidSubmit=HandleAddCategory>
    <DataAnnotationsValidator />

    <div class="form-group">
        <label for="Title">Kategori namn:</label>
        <InputText Id="Title" class="form-control" @bind-Value="Category.CategoryName" />
        <ValidationMessage For="@(() => Category.CategoryName)" />
    </div>
    <button type="submit" class="btn btn-primary">Lägg till</button>
</EditForm>

@message
</div>
@code {
    public Category Category { get; set; } = new();
    string message;

    async Task HandleAddCategory()
    {
        var result = await CategoryManager.AddCategory(Category);
        if (result != null)
            message = $"{result} har lagts till";
        else
            message = $"{Category.CategoryName} finns redan";

        StateHasChanged();
    }
}
