@page "/category/{Id:int}"
@inject ICategoryManager CategoryManager

<h3>@Category.CategoryName</h3>

@if (Category != null)
{
    <EditForm Model=Category>
        <DataAnnotationsValidator />

        <div class="form-group">
            <label for="Title">Kategori namn:</label>
            <InputText Id="Title" class="form-control" @bind-Value="Category.CategoryName" />
            <ValidationMessage For="@(() => Category.CategoryName)" />
        </div>

        <button class="btn btn-danger" @onclick="DeleteCategory">Radera</button>
        <button class="btn btn-danger" @onclick="UpdateCategory">Uppdatera</button>
    </EditForm>
}

@code {
    [Parameter]
    public int Id { get; set; }
    public Category Category { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        Category = await CategoryManager.GetCategoryByIdAsync(Id);
    }

    private void DeleteCategory()
    {
        CategoryManager.DeleteCategoryAsync(Id);
    }

    private void UpdateCategory()
    {
       CategoryManager.UpdateCategory(Category);
    }
}
