@inject IFineManager FineManager
@inject IUserManager UserManager
@inject ILocalStorageService LocalStorage

<h3>Fine</h3>

@code {
    public Fine CurrentFine { get; set; } = new();
    public User CurrentUser { get; set; } = new();
    int userId;

    protected override async Task OnInitializedAsync()
    {
        var email = await LocalStorage.GetItemAsync<string>("email");
        CurrentUser = await UserManager.GetCurrentUser(email);
    }

    public async Task GetUserFine()
    {
        userId = CurrentUser.Id;
    }
}
