@page "/"
@page "/search/{searchText}"

@inject ISearchManager SearchManager
@inject IProductManager ProductManager



 <h3>Välkommen <AuthorizeView>
   @context.User.Identity.Name
</AuthorizeView> </h3>

    <Products/>


@code {

	[Parameter]
    public string? SearchText { get; set; } = null;


    protected override async Task OnParametersSetAsync()
    {
       if (SearchText != null)
        {
            await SearchManager.SearchProducts(SearchText);
        }
        else
        {
            //ändring
           await ProductManager.GetAllProducts();
        }
    }
  
	
	
   
}
