@page "/login"
@inject NavigationManager NavigationManager
@inject IUserManager UserManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="card">
    <h1 class="card-header">Logga in</h1>
    <div class="card-body">
        <EditForm Model="user" OnValidSubmit="HandleLogin">
            <DataAnnotationsValidator />
            <div class="form-group">
                <label for="email">Email</label>
                <InputText id="email" @bind-Value="user.Email" class="form-control" />
                <ValidationMessage For="@(() => user.Email)" />
            </div>
            <div class="form-group">
                <label for="password">Lösenord</label>
                <InputText id="password" @bind-Value="user.Password" type="password" class="form-control" />
                <ValidationMessage For="@(() => user.Password)" />
            </div>
            <button type="submit" class="btn btn-primary">Logga in</button>
            <NavLink href="register" class="btn btn-link">Registrera</NavLink>
        </EditForm>
    </div>
</div>

@if(message != "You have been signed in " && message != null)
{
    <MudAlert Severity="Severity.Error">@message</MudAlert>
}

@code {
    private LoginDto user = new LoginDto();
    string message;

    async Task HandleLogin()
    {
        message = await UserManager.Login(user);

        if (message == "You have been signed in")
        {
            await AuthenticationStateProvider.GetAuthenticationStateAsync();
            NavigationManager.NavigateTo("/myprofile");
        }
        else
        {
            // KOLLA OM MAILADRESSEN FINNS => SKAPA METOD FÖR DET!
            message = "Ogiltig e-mail eller lösenord. Ange rätt e-mail och/eller lösenord och försök igen.";
        }
    }
}
