@page "/productbyid/{Id:int}"
@inject IProductManager DataManager
@attribute [Authorize]

@if(product != null)
{
    <h3>@product.Title</h3>
    @foreach(var c in product.Creators)
    {
        <h5>@c.FirstName @c.LastName</h5>
    }
    @foreach(var c in product.Category)
    {
        <h5>@c.CategoryName</h5>
    }
    <AuthorizeView>
        <button class="btn btn-danger" @onclick="DeleteProduct">Delete</button>
    </AuthorizeView>    
}

@code {
    [Parameter]
    public int Id { get; set; }
    public Product product { get; set; }

    protected override async Task OnInitializedAsync()
    {
        product = await DataManager.GetProductById(Id);
    }

    private void DeleteProduct()
    {
        DataManager.DeleteProduct(Id);
    }
}
