@page "/productbyid/{Id:int}"
@inject IProductManager DataManager
@attribute [Authorize]

@if(Product != null)
{
    <h3>@Product.Title</h3>
    @foreach(var c in Product.Creators)
    {
        <h5>@c.FirstName @c.LastName</h5>
    }
    @foreach(var c in Product.Category)
    {
        <h5>@c.CategoryName</h5>
    }
    <AuthorizeView>
        <button class="btn btn-danger" @onclick="DeleteProduct">Delete</button>
    </AuthorizeView>    
}

@code {
    [Parameter]
    public int Id { get; set; }
    public Product Product { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Product = await DataManager.GetProductById(Id);
    }

    private void DeleteProduct()
    {
        DataManager.DeleteProduct(Id);
    }
}
