@page "/returnproducts"
@inject ILoanManager LoanManager

<h2 class="mt-3">Returnera Produkter</h2>
<MudCard>
    <MudCardContent>
        <MudNumericField Label="Vilket exemplar ska återlämnas?" @bind-Value="copyToReturn"
            For="@(() => copyToReturn)" HelperText="Minimum värde är 1."></MudNumericField>
        <MudButton Variant="Variant.Text" Color="Color.Primary" @onclick="ReturnLoan">Returnera</MudButton>

        @if (message == "Produkt inlämnad")
        {
            <MudAlert Severity="Severity.Success">@message</MudAlert>
        }
        else if (message == "Finns inget med detta exeplarID")
        {
            <MudAlert Severity="Severity.Error" Variant="Variant.Outlined">@message</MudAlert>

        }

    </MudCardContent>
</MudCard>

@code {
    private int copyToReturn;
    private string message = "";

    async Task ReturnLoan()
    {
        var result = await LoanManager.ReturnLoanAsync(copyToReturn);
        if (result)
        {
            message = "Produkt inlämnad";
        }
        else
        {
            message = "Finns inget med detta exeplarID";
        }
    }
}
