@*@page "/Search"
@inject IDataManager DataManager
@inject NavigationManager NavigationManager

<h3>Search</h3>

<BlazoredTypeahead SearchMethod="@SearchProduct"
                   TValue ="ProductCreatorModel"
				   TItem ="ProductCreatorModel"
                   Value="selectedProduct"
                   ValueChanged ="HandleSearch"
                   ValueExpression="@(()=> selectedProduct)"
                   placeholder="Sök i vår katalog(titel,författare,ämne etc)">
	<SelectedTemplate>
		@context.Product.Title
	</SelectedTemplate>
	<ResultTemplate>
		@context.Product.Title
	</ResultTemplate>
	<NotFoundTemplate>
		Sorry, finns inga produkter av den typen
	</NotFoundTemplate>
</BlazoredTypeahead>

@code {
	private Product selectedProduct;

	private void HandleSearch(Product product)
	{
		if(product == null) return;
		selectedProduct = product;
		NavigationManager.NavigateTo($"/product/{selectedProduct.Id}");

	}

	private async Task<IEnumerable<Product>>SearchProduct(string searchText)
	{
		var response = await DataManager.SearchProducts(searchText);
		return response;
	}

}*@
